body{
    background-color: lightgrey;
    width: 100%;
}


header{
    background-color: rgba(172, 48, 161, 0.966);
    height: 72px;
    margin-right: 5px;
    

}
header img{
    width: 70px;
    height: 70px;
    position: relative;
    left: 80px;
    top: 0.5px;
}

header nav li{
    display: inline;
    position: relative;
    left: 900px;
    bottom: 30px;
    margin: 20px;
    
}
header nav li a{
    color: azure;
}
header nav li a:hover{
    color: red;
}
.one{
    font-family: 'Pacifico', cursive; 
    margin-left: 10px;
    margin-top: 40px;
}

main section img{
    width: 170px;
    height: 170px;
    position: relative;
    left: 300px;
    margin-left: 50px;
    padding: 5px;
    border: rgb(46, 40, 41) 2px solid;
    box-shadow: 4px 8px 8px 4px rgba(87, 17, 145, 0.425), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}

.two{
    font-family:  'Indie Flower', cursive;
   font-weight: bold;
    position: relative;
    top: 30px;
    margin-left: 10px;

}
.imgone{
    position: relative;
    width: 400px;
    height: 400px;
    left: 300px;
    padding: 5px;
    border: steelblue 2px solid;
    box-shadow: 4px 8px 8px 4px rgba(24, 23, 23, 0.425), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.four{
    position:relative;
    left: 380px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(97, 89, 93)

}

#column1, #column2{
    float: left;
    margin: 50px;

}
#column2{
    padding-left: 200px;
    
}

main nav p{
    border: cornsilk 2px solid;
    background-color: rgb(230, 76, 76);
}

.details{
    border: cornsilk 2px solid;
    position: relative;
    top: 5px;
}
main nav p a:hover{
    color: rgb(13, 231, 13);
}
main nav p a{
    color:white
}
footer{
    width: auto;
    background-color: chartreuse;
    clear: both;
  border: black 2px solid;
}

#footer1, #footer2{
    float: left;
    margin-left: 10px;
    
}

footer div p{
    position: relative;
    left: 500px;
    top: 40px;
}